body {

    background-color: #f5f7fb;

}

.card {

    border-radius: 15px;

}

.card h2 {

    font-size: 35px;

}

.navbar {

    padding-top: 12px;

    padding-bottom: 12px;

}

table {

    background-color: white;

}