<!DOCTYPE html>
<html>

<head>

    <title>Add Student</title>

</head>

<body>

    <h1>Add Student</h1>

    <form method="POST">

        <label>Student ID:</label>
        <input type="text" name="id">

        <br><br>

        <label>Student Name:</label>
        <input type="text" name="name">

        <br><br>

        <label>Python Mark:</label>
        <input type="number" name="python">

        <br><br>

        <label>Java Mark:</label>
        <input type="number" name="java">

        <br><br>

        <label>DBMS Mark:</label>
        <input type="number" name="dbms">

        <br><br>

        <button type="submit">Add Student</button>

    </form>

</body>

</html>